.menu-list {
    background-color: var(--default-background-color);
    border-color: 1px solid var(--default-text-color);
    color: var(--default-text-color);
    width: 200px;
    height: auto;
    padding-top: 10px;

    .menu-propper {
        border-bottom: 0.01px solid var(--default-text-color);
    }

    .menu-signout {
        display: flex;
        width: 100%;
        height: 42px;
        align-items: center;
        justify-content: center;

        &:hover {
            text-decoration: underline;
        }
    }
}
