.wrapper {
    position: relative;
    user-select: none;

    .container {
        position: relative;
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;
        height: 30vw;
        color: var(--default-text-color-hover);
        margin: auto;
        .signup {
            display: block;

            .text-infor {
                display: flex;
                font-size: 48px;
                font-weight: 900;
            }
            .text-detail {
                display: flex;
                font-size: 24px;
                font-weight: 400;
                justify-content: center;
                margin-top: 16px;
            }
            .group-signup {
                display: block;
                margin-top: 24px;
                padding: 0 32px;

                .group-signup-text {
                    display: flex;
                    justify-content: center;
                }
                .group-button {
                    display: flex;
                    margin: 16px auto 0;
                    justify-content: center;
                    .email-button {
                        display: inline-flex;
                        width: 25vw;
                        height: 56px;
                    }
                    .start-button {
                        display: inline-flex;
                        width: 12vw;
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
    .space {
        display: bock;
        width: 100%;
        height: 0.5vw;
        background-color: var(--gray-hover);
    }

    .content {
        position: relative;
        display: block;
        height: auto;
        color: var(--default-text-color-hover);
        background-color: black;
        z-index: 10;

        .enjoy-tv {
            display: flex;
            margin: 0 auto;
            height: auto;
            padding: 4.5rem 0;
            align-items: center;
            justify-content: center;

            .detail-enjoy {
                display: inline-block;
                align-items: center;
                justify-content: start;
                width: 38vw;
                padding-right: 6px;

                .detail-title {
                    display: flex;
                    font-size: 48px;
                    font-weight: 900;
                }
                .detail-content {
                    display: flex;
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 16px;
                }
            }
            .media-enjoy {
                position: relative;
                display: inline-block;
                align-items: center;
                justify-content: center;
                width: 38vw;
                padding-left: 6px;

                .image-tv {
                    width: 100%;
                }
                .media-video {
                    display: block;
                    position: absolute;
                    left: 13.5%;
                    top: 20.5%;
                    z-index: -1;
                }
            }
        }
        .download {
            display: flex;
            margin: 0 auto;
            height: auto;
            padding: 4.5rem 0;
            align-items: center;
            justify-content: center;

            .media-download {
                position: relative;
                display: inline-block;
                align-items: center;
                justify-content: center;
                width: 38vw;
                padding-right: 6px;

                .image-mobile {
                    width: 100%;
                }
                .media-actions {
                    display: flex;
                    position: absolute;
                    border: 2px solid rgba(128, 128, 128, 0.7);
                    border-radius: 12px;
                    bottom: 8%;
                    left: 20%;
                    padding: 8px 12px;
                    height: 20%;
                    width: 60%;
                    align-items: center;
                    justify-content: start;

                    background-color: black;

                    .media-movie {
                        display: inline-flex;
                        position: relative;
                        height: 100%;
                        margin-right: 16px;

                        .image-movie {
                            height: 80px;
                        }
                    }
                    .media-detail-movie {
                        display: inline-flex;
                        position: relative;
                        flex-direction: column;
                        width: 60%;
                        height: 100%;
                        margin-right: 16px;
                        justify-content: center;

                        .name-movie {
                            display: flex;
                            position: relative;
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--default-text-color-hover);
                        }
                        .downloading-movie {
                            display: flex;
                            position: relative;
                            font-size: 14px;
                            font-weight: 400;
                            color: rgb(0, 113, 235);
                        }
                    }
                    .media-action-download {
                        display: inline-flex;
                        position: relative;
                        height: 100%;
                        width: 64px;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
            .detail-download {
                display: inline-block;
                align-items: center;
                justify-content: start;
                width: 38vw;
                padding-left: 6px;
                .detail-title-download {
                    display: flex;
                    font-size: 48px;
                    font-weight: 900;
                }
                .detail-content-download {
                    display: flex;
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 16px;
                }
            }
        }
        .watch-every {
            display: flex;
            margin: 0 auto;
            height: auto;
            padding: 4.5rem 0;
            align-items: center;
            justify-content: center;

            .detail-watch {
                display: inline-block;
                align-items: center;
                justify-content: start;
                width: 38vw;
                padding-right: 6px;

                .detail-title-watch {
                    display: flex;
                    font-size: 48px;
                    font-weight: 900;
                }
                .detail-content-watch {
                    display: flex;
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 16px;
                }
            }
            .media-watch {
                position: relative;
                display: inline-block;
                align-items: center;
                justify-content: center;
                width: 38vw;
                padding-left: 6px;

                .image-device {
                    width: 100%;
                }
                .media-video-watch {
                    display: block;
                    position: absolute;

                    left: 17%;
                    top: -1%;
                    z-index: -1;

                    .video-watch {
                        width: 25vw;
                        height: 20vw;
                    }
                }
            }
        }
        .create-profile {
            display: flex;
            margin: 0 auto;
            height: auto;
            padding: 4.5rem 0;
            align-items: center;
            justify-content: center;

            .media-profile {
                position: relative;
                display: inline-block;
                align-items: center;
                justify-content: center;
                width: 38vw;
                padding-right: 6px;

                .image-kids {
                    width: 100%;
                }
            }
            .media-action-download {
                display: inline-flex;
                position: relative;
                height: 100%;
                width: 64px;
                background-size: cover;
                background-position: center;
            }

            .detail-profile {
                display: inline-block;
                align-items: center;
                justify-content: start;
                width: 38vw;
                padding-left: 6px;
                .detail-title-profile {
                    display: flex;
                    font-size: 48px;
                    font-weight: 900;
                }
                .detail-content-profile {
                    display: flex;
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 16px;
                }
            }
        }

        .asked-questions {
            display: flex;
            margin: 0 auto;
            height: auto;
            padding: 4.5rem 0;
            align-items: center;
            justify-content: center;
            color: var(--default-text-color-hover);

            .question {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 76vw;
                height: auto;

                .asked-title {
                    display: flex;
                    font-size: 48px;
                    font-weight: 900;
                }
                .any-questions {
                    display: flex;
                    flex-direction: column;
                    margin-top: 24px;
                    align-items: center;
                    width: 100%;
                    height: auto;
                }
                .getstarted {
                    display: flex;
                    justify-content: center;

                    .group-signup {
                        display: block;
                        margin-top: 2.85rem;
                        padding: 0 32px;

                        .group-signup-text {
                            display: flex;
                            justify-content: center;
                        }
                        .group-button {
                            display: flex;
                            margin: 16px auto 0;
                            justify-content: center;
                            .email-button {
                                display: inline-flex;
                                width: 25vw;
                                height: 56px;
                            }
                            .start-button {
                                display: inline-flex;
                                width: 12vw;
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
