.container {
    position: relative;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    z-index: 0;

    .background-layer {
        position: relative;
        width: 100%;
        height: 56.25vw;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;

        .bill-board {
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            z-index: 2;

            .hero-image-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                left: 0;
                z-index: 3;

                .image-wrapper {
                    position: absolute;
                    background-position: 50%;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
                    z-index: 4;
                }
            }
            .hero-image-bottom {
                position: absolute;
                display: block;
                background-color: transparent;
                background-position: 0 top;
                background-repeat: repeat-x;
                background-size: 100% 100%;
                background-image: linear-gradient(
                    rgba(20, 20, 20, 0) 0px,
                    rgba(20, 20, 20, 0.15) 15%,
                    rgba(20, 20, 20, 0.35) 29%,
                    rgba(20, 20, 20, 0.58) 44%,
                    rgb(20, 20, 20) 68%,
                    rgb(20, 20, 20)
                );

                left: 0;
                right: 0;
                top: auto;
                bottom: -1px;
                width: 100%;
                height: 14.7vw;
                user-select: none;
                z-index: 5;
            }
        }
    }
}

//             .hero-image-bottom {
//                 position: absolute;
//                 background-color: transparent;
//                 background-position: 0 top;
//                 background-image: linear-gradient(
//                     180deg,
//                     hsla(0, 0%, 8%, 0) 0,
//                     hsla(0, 0%, 8%, 0.15) 15%,
//                     hsla(0, 0%, 8%, 0.35) 29%,
//                     hsla(0, 0%, 8%, 0.58) 44%,
//                     #141414 68%,
//                     #141414
//                 );

//                 left: 0;
//                 right: 0;
//                 top: auto;
//                 bottom: -1px;
//                 width: 100%;
//                 height: 14.7vw;
//             }
//         }
//     }
// }
