.notifications {
    position: relative;
    .notification-menu {
        background: transparent;
        font-size: 1.5em;
        line-height: 1;
        margin-top: 0.2em;
        padding: 2px 6px 3px;
        position: relative;
        .notification-icon {
            cursor: pointer;
            height: 24px;
            width: 24px;
            color: var(--default-text-color);
        }
    }
}
