.container {
    cursor: pointer;
    display: inline-flex;
    background: transparent;
    box-sizing: border-box;
    padding: 0.8rem 2.4rem 0.8rem 2rem;
    margin: 0 1rem 1rem 0;
    border-radius: 4%;
    user-select: none;
    justify-content: center;

    .icon {
        display: inline-block;
        height: auto;
        width: auto;
        margin-right: 1rem;

        svg {
            height: 2.4rem;
            width: 2.4rem;
        }
    }
    .right-icon{
        display: inline-flex;
        align-items: center;
        margin-left: 0.5rem;
        svg{
            height: 24px;
            width: 24px;
        }
    }
}

.content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    height: auto;
    width: auto;
    font-size: 1.6rem;
    font-weight: 500;
}

.primary {
    color: var(--black);
    background-color: var(--primary);
    border-color: black;

    &:hover {
        background-color: var(--primary-hover);
    }
}

.gray {
    background-color: var(--gray);
    border-color: black;

    &:hover {
        background-color: var(--gray-hover);
    }
}

.signin {
    display: flex;
    width: 100%;
    color: var(--default-text-color);
    background-color: var(--signin);
    border-color: black;
    border-radius: 3px;
    padding: 6px 16px;
    margin: 0;
    .content {
        font-size: 16px;
    }

    &:hover {
        background-color: var(--signin-hover);
    }
}

.text {
    width: 100%;
    background-color: var(--gray);
    border-color: black;
    border-radius: 3px;
    padding: 6px 16px;
    margin: 0;

    .content {
        font-size: 16px;
    }

    &:hover {
        background-color: var(--gray-hover);
    }
}

.getstarted {
    display: flex;
    width: 100%;
    color: var(--default-text-color-hover);
    background-color: var(--signin);
    border-color: black;
    border-radius: 3px;
    padding: 6px 16px;
    margin: 0;
    .content {
        font-size: 24px;
        font-weight: 500;
    }

    &:hover {
        background-color: var(--signin-hover);
    }
}
