.wrapper {
    --login-logo-height: 2.5rem;
    --login-logo-width: 9.25rem;

    position: relative;
    display: flex;
    height: auto;
    width: var(--default-header-width);
    background: transparent;
    justify-content: center;
    user-select: none;
    z-index: 100;

    .container {
        margin: auto;
        padding: 1.5rem 3rem;

        .inner {
            display: flex;
            width: auto;
            display: flex;
            align-items: center;
            font-size: 14px;

            .nav-logo {
                margin: 0.5rem 0 0 1rem;
                .logo-link {
                    display: block;
                    align-items: center;
                    user-select: none;
                    width: auto;
                    height: auto;

                    .logo {
                        width: var(--login-logo-width);
                        height: var(--login-logo-height);
                        svg {
                            color: rgb(229, 9, 20);
                        }
                    }
                }
            }
        }
        .item {
            width: 80rem;
        }
    }
}
