.wrapper {
    --logo-height: 30px;
    --logo-width: 92.5px;

    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 46px;
    --search-button-width: 52px;

    position: fixed;
    display: flex;
    height: var(--default-header-height);
    width: var(--default-header-width);
    background: transparent;
    justify-content: center;
    user-select: none;
    z-index: 100;
}

.inner {
    display: flex;
    width: var(--default-header-width);
    padding: var(--default-layout-padding-height) var(--default-layout-padding-width);
    display: flex;
    align-items: center;
    font-size: 14px;
}

.logo-link {
    align-items: center;
    user-select: none;
    background-color: transparent;
    padding-inline-end: 20px;

    .logo {
        width: var(--logo-width);
        height: var(--logo-height);
        padding: 0;
    }
}

